body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}
ul {
    list-style: none;
    padding: 0;
    margin: 50px auto;
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
li {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
li:last-child {
    border-bottom: none;
}
a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
}
a:hover {
    color: #f00;
}